@using Entities.Concrete
@model List<Movement>
@{
    ViewBag.Title = "BookReturnList";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>



<table class="table table-bordered">
    <tr>
        <th>İşlem Id</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MovementId</td>
            <td>@item.Book.BookName</td>
            <td>@item.User.FirstName @item.User.LastName</td>
            <td>@item.Employee.FirstName @item.Employee.LastName</td>
            <td>@Convert.ToDateTime(@item.DateOfIssue).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@item.ReturnDate).ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/OnLoan/BookReturnProcess/@item.MovementId" class="btn btn-success">İade Al</a>
            </td>

        </tr>
    }
</table>
<a href="/Book/BookAdd" class="btn btn-success">Yeni Kitap</a>

