@model Entities.Concrete.Book
@{
    ViewBag.Title = "BookAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Ekle</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px;">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Kategorisi</label>
        @Html.DropDownListFor(x => x.CategoryId,(List<SelectListItem>)ViewBag.category,new {@class="form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Yazarı</label>
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.writer, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(x => x.PrintingYear, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <label>Yayın Evi</label>
        @Html.TextBoxFor(x => x.Publisher, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px; margin-bottom:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(x => x.NumberPage, new { @class = "form-control" })
    </div>
    <button class="btn btn-info">Ekle</button>
</form>
