@using Entities.Concrete
@model List<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <b>Aranacak kitabı giriniz:</b>@Html.TextBox("p")

    <input type="submit" value="Ara"/>
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayın Evi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BookId</td>
    <td>@item.BookName</td>
    <td>@item.Writer.FirstName @item.Writer.LastName</td>
    <td>@item.Category.CategoryName</td>
    <td>@item.PrintingYear</td>
    <td>@item.Publisher</td>
    <td>@item.NumberPage</td>
    @if (item.Status == true)
    {
        <td>Mevcut</td>
    }
    else
    {
        <td>Yok</td>
    }
    <td>
        <a href="/Book/BookDelete/@item.BookId" class="btn btn-danger">Sil</a>
    </td>
    <td>
        <a href="/Book/BookBring/@item.BookId" class="btn btn-primary">Güncelle</a>
    </td>
    @if (item.Status == false)
    {
        <td>
            <a href="#" class="btn btn-danger">Ödünç Ver</a>
        </td>
    }
    else
    {
        <td>
            <a href="/OnLoan/Lend/@item.BookId" class="btn btn-primary">Ödünç Ver</a>
        </td>
    }


</tr>
    }
</table>
<a href="/Book/BookAdd" class="btn btn-danger">Yeni Kitap</a>

